/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/*       0   1   2   3   4      ||    5   6   7   8   9 */
/* {10}  11  12  13  14  15     ||    16  17  18  19  20  {21} */
/*       22  23  24  25  26     ||    27  28  29  30  31 */
/*                   32 33 34   ||  35 36 37 */

&mt { flavor = "tap-preferred"; };

/ {
    combos {
        compatible = "zmk,combos";

        /* combos on base layer, left side, for boot shortcuts like BIOS with half the keyboard plugged in */

        Vv {
            bindings = <&mt LS(V) V>;
            key-positions = <6 7>;
            layers = <0>;
        };

        Qq {
            bindings = <&mt LS(Q) Q>;
            key-positions = <7 8>;
            layers = <0>;
        };

        BootloaderReset {
            bindings = <&mo 2>;
            key-positions = <34 33>;
            layers = <0>;
        };

        left1 {
            bindings = <&kp TAB>;
            key-positions = <3 4>;
            layers = <0 1>;
        };

        left2 {
            bindings = <&kp CAPSLOCK>;
            key-positions = <14 15>;
            layers = <0 1>;
        };

        left3 {
            bindings = <&appswitcher>;
            key-positions = <25 26>;
            layers = <0 1>;
        };

        right1 {
            bindings = <&kp C_VOLUME_UP>;
            key-positions = <6 5>;
            layers = <0 1>;
        };

        right2 {
            bindings = <&kp C_VOLUME_DOWN>;
            key-positions = <16 17>;
            layers = <0 1>;
        };

        right3 {
            bindings = <&kp LG(LS(NUMBER_4))>;
            key-positions = <27 28>;
            layers = <0 1>;
        };
    };

    macros {
        email: email {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(NUMBER_2) &kp P &kp R &kp O &kp T &kp O &kp N &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
            label = "EMAIL";
        };

        appswitcher: globe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp GLOBE>,
                <&macro_tap>,
                <&kp UP_ARROW>,
                <&macro_release>,
                <&kp GLOBE>;

            label = "GLOBE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        LettersModifiersSymbols1 {
            bindings = <
        &mt LS(B) B  &mt LS(Y) Y           &mt LS(O) O            &mt LS(U) U          &mt DOUBLE_QUOTES SINGLE_QUOTE  &mt LS(K) K  &mt LS(D) D  &mt LS(C) C          &mt LS(L) L  &mt LS(P) P
&trans  &mt LS(H) H  &mt LS(I) I           &mt LS(E) E            &mt LS(A) A          &mt SEMI COMMA                  &mt LS(M) M  &mt LS(T) T  &mt LS(S) S          &mt LS(R) R  &mt LS(N) N  &trans
        &mt LS(X) X  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &mt LS(SEMI) PERIOD  &mt EXCLAMATION QUESTION        &mt LS(W) W  &mt LS(G) G  &mt LS(F) F          &mt LS(J) J  &mt LS(Z) Z
                                           &kp ESCAPE             &mo 1                &kp BACKSPACE                   &kp SPACE    &mo 1        &mt LG(ENTER) ENTER
            >;
        };

        ArrowsNumbersSymbols2 {
            bindings = <
        &kp LG(Z)  &kp LG(LS(Z))  &kp UP_ARROW  &kp LG(S)          &kp PLUS          &kp STAR     &mt LS(NUMBER_3) NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &email
&trans  &kp LG(F)  &kp LEFT       &kp DOWN      &kp RIGHT          &kp MINUS         &kp SLASH    &kp NUMBER_4               &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_0  &trans
        &trans     &kp LG(X)      &kp LG(C)     &kp LS(LA(LG(V)))  &kp LA(NUMBER_3)  &kp PERCENT  &kp NUMBER_7               &kp NUMBER_8  &kp NUMBER_9  &trans
                                  &trans        &trans             &trans            &trans       &trans                     &trans
            >;
        };

        BootloaderReset {
            bindings = <
        &bootloader     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &bootloader
&trans  &sys_reset      &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &sys_reset   &trans
        &bt BT_CLR_ALL  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
